// =========================
// COLORES
// =========================

$color-bg: #FDFDF5;
$color-dark: #111419;
$color-white: #ffffff;

$color-gray-100: #f8f8f8;
$color-gray-200: #e8e8e8;
$color-gray-300: #d7d7d7;
$color-gray-400: #a5a5a5;

$color-accent: #600105;
$color-lightblue: #BDD8F3;


// =========================
// TIPOGRAFÍA
// =========================

$font-heading: "Helvetica Neue", Arial, sans-serif;
$font-body: "Geist", sans-serif;


// =========================
// ESPACIADOS
// =========================

$section-space: 120px;
$container-max: 1320px;


// =========================
// TRANSICIONES
// =========================

$transition: all .35s ease;

/* ==========================
    TITULOS y textos
========================== */

body{

    h1{
        font-size:44px;
        font-weight:700;
        font-family: $font-heading;
    }

    h2{
        font-size:40px;
        font-weight:500;
        font-family: $font-heading;
    }

    h3{
        font-size:30px;
        font-weight:300;
        font-family: $font-heading;
    }

    h4{
        font-size:22px;
        font-weight:500;
        font-family: $font-heading;
    }

    p.large{
        font-size:18px;
        font-family: $font-body;
    }

    p{
        font-size:16px;
        font-family: $font-body;
    }

    .small-text{
        font-size:14px;
        font-family: $font-body;
    }

    span{
        font-size:12px;
        font-weight:500;
        font-family: $font-body;
    }

}